body{
  margin:0;
  padding: 0;
}
*{
  margin:0;
  padding: 0;
}
.main-background{
  margin-top:-4rem;
  width: 100%;
  height: 100vh;
  background: url("images/background.svg") no-repeat ;
  background-size: cover;
  background-position: center;
}
.SpinnerSection{
  margin: 20px auto;
  position: relative;
  max-width: 500px;
}

.powerbar-container{
  text-align: center;
}
.form-container{
  margin-top: 9rem;
}